.header {
  padding: 5rem;
  background: #B00020;
  color: #FFF;
  height: 17rem;

  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  text-shadow: 0.005rem 0.005rem 0.5rem rgba(255, 255, 255, 0.404);
}
